<p style="color: green"><%= notice %></p>

<h1>Mini types</h1>

<div id="mini_types">
  <% @mini_types.each do |mini_type| %>
    <%= render mini_type %>
    <p>
      <%= link_to "Show this mini type", mini_type %>
    </p>
  <% end %>
</div>

<%= link_to "New mini type", new_mini_type_path %>
